<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form action="/register" method="post">
        <h1>Sign up</h1>

        <label for="">Username</label>
        <input class="inputfield" type="text" placeholder="Email or Phone" name="username">
        <p class="error"><%=error%></p>
        <label for="">Password</label>
        <input class="inputfield" type="text" placeholder="Password" name="password">

        <button type="submit">Sign up</button>

        <div class="social">
            <div class="go"><i class="fab fa-google"></i>Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>
        </div>
        <a href="/login">Already have an account? log in here</a>
    </form>
</body>
</html>