* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080710;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.background {
    height: 520px;
    width: 430px;
    /* background-color: aqua; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}

.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}

h1 {
    /* text-align: center; */
    font-weight: 400;
}

form {
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    border: 1px solid #3E3D44;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #E1E1E1;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label {
    /* text-align: left; */
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */
    font-size: 16px;
    font-weight: 500;
    margin: 20px 20px 15px 20px;
    padding: 0 20px;
    /* border: 1px solid white; */
}

.inputfield {
    margin: 0 40px;
    padding: 12px 25px;
    width: 80%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    font-size: 14px;
    font-weight: 600;
    background-color: #37373E;
    border-radius: 3px;
    position: relative;
}
.inputfield:focus {
    outline: 2px solid #007bff;
    outline-offset: 2px;
    transition: all 300ms ease-in-out, outline-offset 300ms ease-in-out;
}
.inputfield::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 1px;
    background-color: #000;
    animation: typingAnimation 3s steps(1, end);
  }
  
  @keyframes typingAnimation {
    from { width: 0; }
    to { width: 100%; }
  }
  
  .inputfield:not(:placeholder-shown)::before {
    animation: none;
  }

button {
    margin: 40px 40px 20px 40px;
    padding: 15px 20px;
    color: #080710;
    width: 80%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}
button:hover{
    background-color: #626167;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.go {
    border: 1px solid #626167;
    border-radius: 3px;
    padding: 5px 25px;
    background-color: #626167;
    margin-right: 10px;
}

.fb {
    border: 1px solid #626167;
    border-radius: 3px;
    padding: 5px 25px;
    background-color: #626167;
    margin-left: 10px;
}

i {
    margin-right: 7px;
}
a{
    margin-top: 10px;
}
.error{
    color:red;
    font-size: 0.85rem;
    font-weight: thin;
    margin-top:14px;
}