body {
    background: beige;
    background: linear-gradient(
        0deg,
        rgba(245, 245, 220, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #1e5cb3;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 1em 4rem 0;
    }
}

h2 {
    border-bottom: 0.1875em solid #1e5cb3;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
}

p {
    line-height: 1.9em;
}

main {
    margin: 10vh 1em 10vh;
}

._header {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

.nav {
    background-color: #fff;
}
.nav ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.nav li {
    display: inline-block;
}

.nav .a {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #1e5cb3;
}

.nav .a:hover {
    background: #1e5cb3;
    color: #fff;
    transition: ease 0.3s all;
}

.header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.footer {
    background: #cdcdb4;
    padding: 2em;
    color: #1e5cb3;
}

.footer p {
    color: #1e5cb3;
}

.container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

section:nth-of-type(odd) .container::before {
    content: '';
    background: rgba(255, 241, 0, 0.8);
    background: linear-gradient(
        0deg,
        rgba(255, 241, 0, 0.5) 0%,
        rgba(255, 241, 0, 1) 100%
    );
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .container::before {
    content: '';
    background: #00a56f;
    background: linear-gradient(
        0deg,
        rgba(0, 165, 111, 0.5) 0%,
        rgba(0, 165, 111, 1) 100%
    );
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .container::after {
    content: '';
    background: #c9002b;
    background: linear-gradient(
        0deg,
        rgba(201, 0, 43, 0.5) 0%,
        rgba(201, 0, 43, 1) 100%
    );
    position: absolute;
    left: 3em;
    bottom: -1em;
    z-index: -5;
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .container::after {
    content: '';
    background: #ff5f00;
    background: linear-gradient(
        0deg,
        rgba(255, 95, 0, 0.5) 0%,
        rgba(255, 95, 0, 1) 100%
    );
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .container::after {
    content: '';
    background: #f79e1b;
    background: linear-gradient(
        0deg,
        rgba(247, 158, 27, 0.5) 0%,
        rgba(247, 158, 27, 1) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(5n) .container::after {
    content: '';
    background: #c8e3f6;
    background: linear-gradient(
        0deg,
        rgba(200, 227, 246, 0.5) 0%,
        rgba(200, 227, 246, 1) 100%
    );
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section.activeSection {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

section.activeSection .container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.activeSection .container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}

::-webkit-scrollbar {
    width: 0.625em;
}

::-webkit-scrollbar-track {
    background: beige;
    background: linear-gradient(
        0deg,
        rgba(245, 245, 220, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

::-webkit-scrollbar-thumb {
    background: #1e5cb3;
    background: linear-gradient(
        0deg,
        rgba(30, 92, 179, 0.25) 0%,
        rgba(30, 92, 179, 1) 100%
    );
}